/* Yes this was actually coded by me */

#bkg  {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#homepage {
  display: flex;
  z-index: 0;
  flex-flow: column wrap;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#int-page {
  box-shadow: 5px 5px 8px rgba(0,0,0,0.8);
  border-radius: 10px;
  background-color: #a9a9a9;
  padding: 10px;
}

#info {
  width: 40vw;
  text-align: center;
}

#img  {
  width: 40vw;
  text-align: center;
}

@keyframes fade-in {
  0%  {opacity: 0;}
  99%  {opacity: 1;}
  100% {visibility: visible;}
}

@keyframes fade-out {
  0%  {opacity: 1;}
  99%  {opacity: 0;}
  100% {visibility: hidden;}
}

.info-box {
  position: fixed;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  left: 0;
  top: 0;
}

#punchdrunk {
  visibility: hidden;
}

#gecko  {
  visibility: hidden;
}

#paper-birds  {
  visibility: hidden;
}

.button-style  {
  background-color: #838383;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#close-btn  {
  font-size: 50px;
  cursor: pointer;
}

* {
  color: white;
  font-family: sans-serif;
}
